<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponzify</title>
    <link rel="stylesheet" href="./CSS/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <p class="logo_text">Sponzify</p>
        <span class="pages">
            <p><a href="./">Home</p>
            <p><a href="./pricing">Pricing</p>
            <p><a href="./about">About us</p>
            <p><a href="./contact">Contact</p>
        </span>
        <span class="buttons">
            <button class="login">log in</button>
            <button class="signup">Sign up</button>
        </span>
    </nav>

    <div class="about">
        <h1 class="abouth1">About us</h1>
        <p class="para_About">
            We are Redefining sponsorship management.<br> Connect sponsors with recipient effortless to<br> maximise impact and drive meaningful<br> collaborations.
        </p>
        <img src="./images/about.png" alt="" class="about_img">
    </div>

    <div class="mission">
        <h1 class="missionh1">Our mission</h1>
        <p class="para_mission">
            At Sponzify, Our mission is to democratize sponsorship opportunities, making it<br> easy for sponsors and recipients to find each other and collaborate effectively.<br> We strive to empower individuals, organisations and brands to achieve their<br> goal, maximise their impact and create positive change in their communities<br> through strategic partnerships facilitated by our platform.
        </p>
        <p class="line"></p>
    </div>

    <div class="group">
        <h2 class="group_content">
            Let's start <br> exploring<br>now to <br>connect with<br> sponsors!
        </h2>
        <img src="./images/group.jpeg" alt="" class="group_content_img">
    </div>

    <div class="Signup-container">
        <span class="Signup_content">
            <h1 class="Signup_heading">Discover the best opportunities</h1>
            <p class="Signup_paragraph">Sign up and start discovering now.</p>
            <button class="Signup_btn">Sign up Now</button>
        </span>
        <img src="./images/goal.png" alt="Signup_img">
    </div>

    <footer>
        <div class="footer-container">
            <span class="left_footer">
                <h1>Sponzify</h1>
                <p>&copy; 2024 Sponzify. All rights reserved.</p>
            </span>
            <div class="right_footer">
                <div class="flex-items"><a href="#">Home</a></div>
                <div class="flex-items"><a href="#">Pricing</a></div>
                <div class="flex-items"><a href="#">About us</a></div>
                <div class="flex-items"><a href="#">Contact</a></div>
                <div class="flex-items"><a href="#">Facebook</a></div>
                <div class="flex-items"><a href="#">Instagram</a></div>
                <div class="flex-items"><a href="#">Twitter</a></div>
                <div class="flex-items"><a href="#">Linkedin</a></div>
                <div class="flex-items"><a href="#">Privacy Policy</a></div>
                <div class="flex-items"><a href="#">Terms of Service</a></div>
            </div>
        </div>
    </footer>
    <script src="./JS/btn.js"></script>
</body>
</html>
