<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponzify</title>
    <link rel="stylesheet" href="./CSS/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <p class="logo_text">Sponzify</p>
        <span class="pages">
            <p><a href="./">Home</p>
            <p><a href="./pricing">Pricing</p>
            <p><a href="./about">About us</p>
            <p><a href="./contact">Contact</p>
        </span>
        <span class="buttons">
            <button class="login">log in</button>
            <button class="signup">Sign up</button>
        </span>
    </nav>
    <main>
        <div class="container">
            <img src="./images/contact.jpg" alt="contact_img" class="contact_img">
            <section class="contact-us">
                <h1>Contact Us</h1>
                <p>Explore the future with us.<br> Feel free to get in touch.</p>
                <form>
                    <div class="form-group">
                        <label for="name">Name</label><br>
                        <input type="text" id="name" name="name" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label><br>
                        <input type="email" id="email" name="email" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label><br>
                        <textarea id="message" name="message" placeholder="How can we get better?"></textarea>
                    </div>
                    <button type="submit">Send message</button>
                </form>
            </section>
        </div>
        
    </main>
    <footer>
        <div class="footer-container">
            <span class="left_footer">
                <h1>Sponzify</h1>
                <p>&copy; 2024 Sponzify. All rights reserved.</p>
            </span>
            <div class="right_footer">
                <div class="flex-items"><a href="./">Home</a></div>
                <div class="flex-items"><a href="#">Pricing</a></div>
                <div class="flex-items"><a href="#">About us</a></div>
                <div class="flex-items"><a href="#">Contact</a></div>
                <div class="flex-items"><a href="#">Facebook</a></div>
                <div class="flex-items"><a href="#">Instagram</a></div>
                <div class="flex-items"><a href="#">Twitter</a></div>
                <div class="flex-items"><a href="#">Linkedin</a></div>
                <div class="flex-items"><a href="#">Privacy Policy</a></div>
                <div class="flex-items"><a href="#">Terms of Service</a></div>
            </div>
        </div>
    </footer>
    <script src="./JS/btn.js"></script>
</body>
</html>
