<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponzify</title>
    <link rel="stylesheet" href="./CSS/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


</head>

<body>
    <nav>
        <p class="logo_text">Sponzify</p>
        <span class="pages">
            <p><a href="./">Home</p>
            <p><a href="./pricing">Pricing</p>
            <p><a href="./about">About us</p>
            <p><a href="./contact">Contact</p>
        </span>
        <button style="border: none;"><a style="outline:none"></a></button>
        <span class="buttons">
            <button class="login"><a href="./login" style="outline:none">log in</a></button>
            <button class="signup"><a  href="./recipient" style="outline:none;color:white;">Sign up</a></button>
        </span>

    </nav>
    <div class="hero-container">
        <span class="left_side">
            <p class="small_line">START EXPLORING NOW</p>
            <h1>Your Gateway to sponsorship Opportunities</h1>
            <p class="buttom_line">Connecting sponsers and recipients for meangingful partnerships.</p>
            <span class="btn">
                <button class="./home.html">Explore Now</button>
                <button class="signup">Join Now</button>
            </span>
        </span>
        <span class="right_side">
            <img src="./images/image.png" alt="Sponsorship Image" />
        </span>

    </div>
    <div class="trusted_container">
        <p class="slogan">Trusted by individuals and teams at the best <br>companies</p>
        <div id="logos"><img src="./images/c3.svg" alt="logo">
            <img src="./images/c1.svg" alt="logo">
            <img src="./images/c2.svg" alt="logo">
            <img src="./images/c4.svg" alt="logo">
            <img src="./images/c5.svg" alt="logo">
        </div>
    </div>
    <div class="trynow-container">
        <span class="trynow_content">
            <h1 class="trynow_heading">Find Sponsership Opportunities</h1>
            <p class="trynow_paragraph">Browse through a diverse range of sponsership opportunities tailored to your
                interests,industry,and budget.</p>
            <button class="trynow_btn">try Now</button>
        </span>
        <img src="./images/finding.png" alt="trynow_img">
    </div>
    <div class="Explore-container">
        <img src="./images/experience.jpeg" alt="Explore_img">
        <span class="Explore_content">
            <p class="small_heading">IMENSE EXPERIENCE</p>
            <h1 class="Explore_heading">Streamlined and User Friendly Platform</h1>
            <p class="Explore_paragraph">We specialize in connecting brands and sponsers, providing a seamless
                experience for both parties.Our platform offers a range of services, including profile
                creation,analytics,and communication tools.</p>
            <button class="Explore_btn">Explore Now</button>
        </span>
    </div>
    <div class="Register-container">
        <span class="Register_content">
            <p class="small_heading">CONNECT WITH BETTER</p>
            <h1 class="Register_heading">Find the Perfect Match of Sponsors</h1>
            <p class="Register_paragraph">One standout feature of sponzify is its advanced matching algorithms,which
                intelligently connect sponsors with recipients based on their interests,objectives,and preferences.</p>
            <button class="Register_btn">Register Now</button>
        </span>
        <img src="./images/hand2.jpeg" alt="Register_img">
    </div>
    <div class="community-container">
        <span class="first_community">
            <img src="./images/community.png" alt="" class="community_img">
            <h1 class="communityh1">How to join our cmmmunity</h1>
            <p class="desc_community">Just 3 simple steps to find the reach the best Sponsors and Brands</p>
            <button class="signup_community">Sign up now</button>
        </span>
        <span class="second_community">
            <h3 class="community">Sign Up</h3>
            <p class="desc_community">Click on the "Sign UP" button to create your Sponzify account</p>
            <p class="line"></p>
            <h3 class="community">Complete Your Profile</h3>
            <p class="desc_community">Complete your profile by adding relevant details about yourself or your
                organization. This will help us to match you with suitable sponsorship opportunities and connect with
                your potential sponsors or recipients.</p>
            <p class="line"></p>
            <h3 class="community">Start Exploring.</h3>
            <p class="desc_community">Start exploring the wide range of sponsorships opportunities available on
                Sponzify.Browse listing, Connect with other members and begin building valuable partnerships within our
                community.</p>
        </span>
    </div>
    <div class="testimonial">
        <h1>Testimonials</h1>
        <p class="desc">People love what we do and we want to let you know.</p>
        <span id="test_member">
            <span class="profile">
                <img src="./images/man.png" alt="" class="test_img">
                <h4 class="name">Akhil Pandey.</h4>
                <p class="designation">Hod</p>
            </span>
            <span class="profile">
                <img src="./images/man.png" alt="" class="test_img">
                <h4 class="name">Piyush Sharma.</h4>
                <p class="designation">Placement Head</p>
            </span>
            <span class="profile">
                <img src="./images/man.png" alt="" class="test_img">
                <h4 class="name">Vishal </h4>
                <p class="designation">Mentor</p>
            </span>
        </span>
    </div>
    <div class="Signup-container">
        <span class="Signup_content">
            <h1 class="Signup_heading">Discover the best opportunities</h1>
            <p class="Signup_paragraph">Sign up and start discovering now.</p>
            <button class="Signup_btn">Sign up Now</button>
        </span>
        <img src="./images/goal.png" alt="Signup_img">
    </div>

</body>
<footer>
    <div class="footer-container">
        <span class="left_footer">
            <h1>Sponzify</h1>
            <p>&copy; 2024 Sponzify. All rights reserved.</p>
        </span>

        <div class="right_footer">
            <div class="flex-items"><a href="#">Home</a></div>
            <div class="flex-items"><a href="#">Pricing</a></div>
            <div class="flex-items"><a href="#">About us</a></div>
            <div class="flex-items"><a href="#">Contact</a></div>
            <div class="flex-items"><a href="#">Facebook</a></div>
            <div class="flex-items"><a href="#">Instagram</a></div>
            <div class="flex-items"><a href="#">Twitter</a></div>
            <div class="flex-items"><a href="#">Linkedin</a></div>
            <div class="flex-items"><a href="#">Privacy Policy</a></div>
            <div class="flex-items"><a href="#">Terms of Service</a></div>
        </div>
    </div>

</footer>

</html>