<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponzify</title>
    <link rel="stylesheet" href="./CSS/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center-container">
        <p class="logo_text">Sponzify</p>
        <h1>Login</h1>
        
        <form action="/dashboard" method="post">
            <div class="form-group">
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" placeholder="Enter Your User Email ID">
            </div>
            <div class="form-group">
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" placeholder="Enter Your Password">
            </div>
            <p class="forget_pass"><a>Forgot Password?</a></p>
            <button type="submit" id="sign_in_btn">Sign In</button>
        </form>
        <p class="terms">By loging in you are accepting the <a target="_blank">Terms and Conditions.</a></p>
        <p class="already_account">Don't have an account? <a href="./recipient">Sign Up here</a> to continue</p>
    </div>
    <script src="./JS/signup.js"></script>
</body>
</html>
