<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponzify</title>
    <link rel="stylesheet" href="./CSS/price.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav>
        <p class="logo_text">Sponzify</p>
        <span class="pages">
            <p><a href="./">Home</p>
            <p><a href="./pricing">Pricing</p>
            <p><a href="./about">About us</p>
            <p><a href="./contact">Contact</p>
        </span>
        <span class="buttons">
            <button class="login">log in</button>
            <button class="signup">Sign up</button>
        </span>
    </nav>
    <section class="pricing">
        <h1>Pricing</h1>
        <p>Our price is not expensive, but it is not cheap either, it's exactly what it should be</p>
        <div class="plans">
            <div class="pricing-card">
                <h2 class="price">$X</h2>
                <h3>Basic</h3>
                <p>Best for individuals and small teams.</p>
                <a href="basic_pricing.html">Get Started with Basic</a>
            </div>

            <div class="pricing-card popular">
                <h2 class="price">$XX</h2>
                <h3>Pro (Most Popular)</h3>
                <p>Best for startup and growing businesses.</p>
                <a href="pro_pricing.html">Get Started with Pro</a>
            </div>

            <div class="pricing-card">
                <h2 class="price">$XX</h2>
                <h3>Business</h3>
                <p>Best for organizations with advanced needs.</p>
                <a href="business_pricing.html">Get Started with Business</a>
            </div>
        </div>
    </section>
    <main class="main">
        <div class="container">
            <section class="compare-features">
                <h2>Compare Features</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Feature</th>
                                <th>Basic</th>
                                <th>Pro</th>
                                <th>Business</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Connections</td>
                                <td>Up to 10</td>
                                <td>Up to 50</td>
                                <td>Unlimited</td>
                            </tr>
                            <tr>
                                <td>Analytics</td>
                                <td>Basic</td>
                                <td>Advanced</td>
                                <td>Pro</ </tr>
                            <tr>
                                <td>Support</td>
                                <td>Email</td>
                                <td>Live Chat</td>
                                <td>Dedicated Account Manager</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>$XX</td>
                                <td>$XX</td>
                                <td>$XX</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="hero">
                <div class="hero-content">
                    <h1>Find the Perfect Sponsor for You Now</h1>
                    <p>Connect with the right sponsors to achieve your goals and make a difference.</p>
                    <a href="#" class="button">Exploring Now</a>
                    <a href="./contact" class="button">Contact Now</a>
                </div>
            </section>
            <img src="" alt="" id="freq_img">
            <section class="frequently-asked-questions">
                <h2>Frequently Asked Questions</h2>
                <div class="faq-list">
                    <div class="faq-item">
                        <h3 class="faq-question">Can I change my sponsorship goals at any time?</h3>
                        <p class="faq-answer">Yes, you can easily update your goals at any time to reflect your changing
                            needs.</p>
                        <p class="line"></p>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-question">Do you offer discounts for nonprofits or educational institutions?</h3>
                        <p class="faq-answer">Yes, we offer special discounts to eligible organizations. Please contact
                            us for more information.</p>
                        <p class="line"></p>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-question">How do I get started?</h3>
                        <p class="faq-answer">It's easy! Sign up for a free account today and start exploring our
                            network of potential sponsors.</p>
                        <p class="line"></p>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <div class="Signup-container">
        <span class="Signup_content">
            <h1 class="Signup_heading">Discover the best opportunities</h1>
            <p class="Signup_paragraph">Sign up and start discovering now.</p>
            <button class="Signup_btn">Sign up Now</button>
        </span>
        <img src="./images/goal.png" alt="Signup_img">
    </div>

    <footer>
        <div class="footer-container">
            <span class="left_footer">
                <h1>Sponzify</h1>
                <p>&copy;2024 Sponzify.<br> All rights reserved.</p>
            </span>
            <div class="right_footer">
                <div class="flex-items"><a href="./">Home</a></div>
                <div class="flex-items"><a href="./pricing">Pricing</a></div>
                <div class="flex-items"><a href="./aboout">About us</a></div>
                <div class="flex-items"><a href="./contact">Contact</a></div>
                <div class="flex-items"><a href="./facebook.com">Facebook</a></div>
                <div class="flex-items"><a href="./instagram.com">Instagram</a></div>
                <div class="flex-items"><a href="./twitter.com">Twitter</a></div>
                <div class="flex-items"><a href="./linkedin.com/in/bhimeshyadav">Linkedin</a></div>
                <div class="flex-items"><a href="./">Privacy Policy</a></div>
                <div class="flex-items"><a href="./">Terms of Service</a></div>
            </div>
        </div>
    </footer>
    <!-- <script src="./JS/btn.js"></script> -->
</body>

</html>