<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponzify</title>
    <link rel="stylesheet" href="./CSS/signup_spon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center-container">
        <p class="logo_text">Sponzify</p>
        <h1>Sign Up As</h1>
        <div class="select_btn">
            <button id="recipient" style="background-color: #e8e8e8;">Recipient</button>
            <button id="sponsor" style="background-color: #007bff;">Sponsor</button>
        </div>
        <form action="/sponsor" method="post">
            <div class="form-group">
                <label for="name">Organisation Name</label><br>
                <input type="text" id="name" name="name" placeholder="Please Enter Organisation Name">
            </div>
            <div class="form-group">
                <label for="email">Organisation Email</label><br>
                <input type="email" id="email" name="email" placeholder="Please Enter Organisation Email address">
            </div>
            <div class="form-group">
                <label for="number">Number</label><br>
                <input type="text" id="number" name="number" placeholder="Please Enter Your Number">
            </div>
            <div class="form-group">
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" placeholder="Please create a password">
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password</label><br>
                <input type="password" id="confirm" name="confirm" placeholder="Please confirm your password">
            </div>
            
            <button type="submit" onclick="showAlert()">Sign Up</button>
        </form>
        <p class="terms">By Signing up you are accepting the <a href="_blank">Terms and Conditions.</a></p>
        <p class="already_account">Already have an account?<a href="./login"> Login</a> to continue</p>
    </div>
    <script src="./JS/signup.js"></script>
</body>
</html>